body {
  font-family: Arial, sans-serif;
  background: #eef2f3;
  background-image:url(weather.iamge.avif);
  margin: 0;
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: auto;
  background-image:transparent;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  font-style: italic;
}

input {
  padding: 10px;
  width: 70%;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color:#004d99;
}

.weather-info {
  margin: 20px 0;
  font-size: 18px;
}

#map {
  margin-top: 20px;
  border-radius: 8px;
}
